p, h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-primary);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
  color: var(--color-blue);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

img {
  display: block;
}

.media:hover,
.media::after {
  fill: var(--color-blue);
}

.color-link {
  fill: var(--color-link);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.color-link:hover,
.color-link:after {
  fill: var(--color-blue);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.media {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  gap: 10px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-black);
}

.logo .logo-decorate {
  color: var(--color-blue);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 2px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.sprite-contact {
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.container-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-blue);
}

.contacts .contacts-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-blue);
}

.contakts-list .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link {
  margin-right: 10px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sprite-contact {
  margin-right: 10px;
}

.hero {
  text-align: center;
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--color-black);
  background-image: url(../img/Img\ Overlay\ \(1\).svg), url(../img/Img\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
}

.hero-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  border: 0;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188CE8;
}

.container-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 94px 0 0 0;
}

.advantages-list::before {
  content: "";
  background-color: rgb(245, 244, 250);
  height: 120px;
  width: 270px;
  display: block;
  margin-bottom: 30px;
  gap: 30px;
  margin-top: 0;
  border-radius: 4px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url(../img/antenna\ 1\ \(1\).svg);
}

.clock::before {
  background-image: url(../img/clock\ 1\ \(1\).svg);
}

.diagram::before {
  background-image: url(../img/diagram\ 1\ \(1\).svg);
}

.astronaut::before {
  background-image: url(../img/astronaut\ 1\ \(1\).svg);
}

.advantages .advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-grey);
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 10px;
}

.advantages-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantages .advantages-note {
  line-height: 1.71;
}

.advantages-list {
  width: calc((100% - 90px) / 4);
}

.advantages-note {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */