
.duties {
    padding-top: 47px;
    padding-bottom: 94px;
    
}

.duties__examples {
    flex-basis: calc((100% - 60px) / 3);
  }

.duties__list {
    display: flex;
    gap: 30px;
}

.duties__title {
    margin: 0 0 50px 0;

    color: var(--color-grey);
} 

.overlay__wrap {
    position: relative;
}

.overlay__text {
    position: absolute;

    padding: 27px;
    margin: 0;
    width: 100%;
    bottom: 0;
    left: 0;

    text-align: center;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
}

 
 